h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: #eeebdd;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  background-color: #ce1212;
  position: relative;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header * {
  display: inline;
  align-items: center;
  text-align: center;
}
header li {
  margin: 20px;
}
header li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}
.image {
  margin-top: 10px;
}
.image2 {
  position: absolute;
  margin-top: 50px;
  margin-left: 750px;
  width: 500px;
  height: 280px;
}
.image3 {
  width: 500px;
  height: 250px;
  padding: 10px;

  margin-top: 350px;
  margin-left: 200px;
  position: absolute;
}
.image4 {
  position: absolute;
  margin-top: 650px;
  margin-left: 750px;
  width: 500px;
  height: 280px;
}
.sidebar {
  top: 20px;
  background-color: #ce1212;
  box-shadow: 0 0 0px 0 black;
  margin-right: 1250px;
  margin-left: 2px;
  margin-top: 280px;
  position: absolute;
  max-width: 350px;
  padding: 20px 30px 10px 5px;
  align-items: center;
  display: flex;
  max-height: 2000px;
}
ul {
  list-style-type: none;
}
li a {
  color: black;
  text-decoration: none;
}
.textbox1 {
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 50px;
  margin-left: 200px;
  position: absolute;
}
.textbox2 {
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 350px;
  margin-left: 750px;
  position: absolute;
}
.textbox3 {
  width: 500px;
  height: 250px;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 650px;
  margin-left: 200px;
  position: absolute;
}
.bottom-container {
  margin: 0;
  padding-top: 20px;
  margin-top: 1000px;
  text-align: center;
}
